body{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    
}

.flexhead{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.logo{
    margin-top: 15px;
    margin-left: 20px;
}

.login > button{
    border-radius: 20px;
    padding: 10px 40px;
    border: none;
    background: white;
    color:  hsl(192, 100%, 9%);
    

}
.head2{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.build{
    width: 350px;
    margin-top: 60px;
    
    
}
.same{
    background: hsl(193, 100%, 96%);
    background-image: url('images/bg-hero-desktop.svg');
}

.get{
    border: none;
    padding: 12px 40px;
    background: hsl(322, 100%, 66%);
    border-radius: 25px;

}
button:hover{
    cursor: pointer;
}

.flexhead2{
    display: flex;
    
    align-items: center;
    width: 1100px;
    margin-left: 70px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgb(0, 0, 0,0.6);
    justify-content: space-around;
    

}

.flexhead3{
    display: flex;
    
    align-items: center;
    width: 1100px;
    margin-left: 70px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgb(0, 0, 0,0.6);
    justify-content: space-around;
    

}

.flow2{
    width: 450px;
    padding: 80px;
}

.grow{
    width: 450px;
    padding: 80px;
}


.flexhead4{
    display: flex;
    
    align-items: center;
    width: 1100px;
    margin-left: 70px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgb(0, 0, 0,0.6);
    justify-content: space-around;
    

}

.user{
    width: 450px;
    padding: 80px;
}

.ready{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgb(0, 0, 0,0.6);
    width: 400px;
    margin-top: 30px;
    margin-left: 400px;
    padding: 20px;
}

.foot{
    background: hsl(192, 100%, 9%)
    ;
}

@media only screen and (max-width: 375px) {

     .flexhead4{
        flex-direction: column;
     }
     .flexhead2{
        flex-direction: column;
        width: 100px;
        margin-left: 120px;
        margin-top: 10px;
        border-radius: 10px;
        box-shadow: 0 3px 5px rgb(0, 0, 0,0.6);
        
     }
     .flexhead3{
        flex-direction: column;
     }

     

}