body{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    
}

.flexhead{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.logo{
    margin-top: 15px;
    margin-left: 20px;
}

.login > button{
    border-radius: 20px;
    padding: 10px 40px;
    border: none;
    background: white;
    color:  hsl(192, 100%, 9%);
    

}
.head2{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.build{
    width: 350px;
    margin-top: 60px;
    
    
    
}
.same{
    background: hsl(193, 100%, 96%);
    background-image: url('images/bg-hero-desktop.svg');
}

.get{
    border: none;
    padding: 12px 40px;
    background: hsl(322, 100%, 66%);
    border-radius: 25px;

}

.res2{
    max-width: 100%;
    height: auto;
    max-width: 200px;
    
}
button:hover{
    cursor: pointer;
}

.flexhead2{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgb(0, 0, 0,0.6);
    justify-content: space-around;
    

}

.flexhead3{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgb(0, 0, 0,0.6);
    justify-content: space-around;
    

}

.flow2{
    width: 450px;
    padding: 80px;
}

.grow{
    width: 300px;
    padding: 80px;
}


.flexhead4{
    display: flex;
    
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgb(0, 0, 0,0.6);
    justify-content: space-around;
    

}

.user{
    width: 450px;
    padding: 80px;
}

.ready{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ready2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgb(0, 0, 0,0.6);
    margin-top: 30px;
    padding: 20px;
}

.foot{
    background: hsl(192, 88%, 7%)
    ;
}

.responsive{
    display: flex;
    width: 100%;
    height: auto;
    max-width: 600px;
}



@media only screen and (max-width: 575px) {

     .flexhead4{
        display: flex;
       max-width:250px;
    
        flex-direction: column-reverse;
     }
     .flexhead2 {
        display: flex;
        margin-left: 20px;
        width: 320px;
        margin-top: 50px;
        flex-direction: column-reverse;
        
       
        
     }
     .flexhead3{
        display: flex;
        width: 333px;
        margin-left: 15px;
        flex-direction: column;
        margin-top: 50px;
        
     }

     .flow{
        width: 100px;
     }

     .flow2{
        width: 300px;
     }

     .head2{
        display: block;
        width: 373px;
        padding: 20px 20px;
        
        
     }

    .build2i{
        width: 310px;
        margin-top: 60px;
        margin-left: 15px;
    }

     .flexhead{
        display: flex;
        width: 100%;
        justify-content: space-between;
        width: 200px;
     }

     .logo{
        margin-left: -1px;
     }
     .login{
        
        color:  hsl(192, 88%, 7%);
        
     }
     
     body{
        font-size: 13px;
     }
     .build{
        margin-top: -6px;
        width: 250px;
        padding-left: 40px;
     }

     .get{
        width: 230px;
        margin-left: 10px;
        color: white;
     }

    .build > h1{
           text-align: center;
           width: 100%;
     }
     .build > h1 > p{
        text-align: center;
        width: 100%;
  }
  .same{
    
    background-image: url('images/bg-hero-mobile.svg');
}
.grow{
    width: 200px;
}
 
.grow2 > img{
    width: 300px;
}

.user{
    width: 100%;
    
}

}